<div class="p-5">
  <form>
    <div class="form-group row">
      <label class="col-3">책제목</label>
      <input class="col-9" type="text">
    </div>
    <div class="form-group row">
      <label>장르</label><input type="text">
    </div>
    <div class="form-group row">
      <label>평점</label><input type="text">
    </div>
    <div class="form-group row">
      <label>한줄평</label><input type="text">
    </div>
    <div class="form-group row">
      <label>읽은날짜</label><input type="text">
    </div>
    <div class="form-group row">
      <label>마음에드는문구</label><input type="text">
    </div>
  </form>
  <button class="btn btn-primary">등록하기</button>
  <button class="btn btn-primary">취소</button>
</div>




</div>
