<div class="p-5">
    <div class="form-group row">
      <label class="col-3">책제목</label>
      <input class="col-9" type="text"/>
    </div>
    <div class="form-group row">
      <label class="col-3">장르</label>
      <input class="col-9" type="text"/>
    </div>
    <div class="form-group row">
      <label class="col-3">평점</label>
      <input class="col-9" type="text"/>
    </div>
    <div class="form-group row">
      <label class="col-3">한줄평</label>
      <input class="col-9" type="text"/>
    </div>
    <div class="form-group row">
      <label class="col-3">읽은날짜</label>
      <input class="col-9" type="text"/>
    </div>
    <div class="form-group row">
      <label class="col-3">마음에드는문구</label>
      <input class="col-9" type="text"/>
    </div>

  <button class="btn btn-primary">등록하기</button>
  <button class="btn btn-primary">취소</button>
</div>
